@model WebServerPrograming.Models.ErrorViewModel

@{
    ViewData["Title"] = "Error";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="error-container">
    <div class="error-message">
        <h2>Error</h2>
        <p>@Model.Message</p>
        <a href="/" class="btn btn-gold">Go to HomePage</a>
    </div>
</div>