@{
    ViewData["Title"] = "Home";
}

<link rel="stylesheet" href="~/css/HomePage.css" asp-append-version="true" />

<h2>Movies</h2>
<div class="movie-container">
    @foreach (var movie in Model)
    {
        <div class="movie-card">
            <img src="@Url.Content(movie.ImageUrl)" alt="Movie Cover" />
            <h3>@movie.Title</h3>
            <p>Director: @movie.Director</p>
            <a href="/Info/info/@movie.MovieID" class="detay-btn">Details</a>
        </div>
    }
</div>